.header{
    background-color: rgb(30,40,70);
}

.brand-logo{
    color: #0ef;
    font-weight: normal;
}
.brand-logo:hover{
    color: #0ef;
    font-weight: normal;
}

.focused-area{
    padding: 20rem;
    background-color: bisque;
}

.dot {
    /* Some layout code… */
    animation: xAxis 2.5s infinite ease-in;
  }
  
  .dot::after {
    /* Render dot */
    animation: yAxis 2.5s infinite ease-out;
  }
  
  @keyframes xAxis {
    50% {
      animation-timing-function: ease-in;
      transform: translateX(100px);
    }
  }
  
  @keyframes yAxis {
    50% {
      animation-timing-function: ease-out;
      transform: translateY(-100px);
    }
  }
  